
.payment-title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #000000;
    margin-top: 5rem;
    margin-bottom: 2rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif; /* Nueva fuente */
    text-transform: uppercase; /* Mantiene mayúsculas */
    letter-spacing: 1px;
}

.payment-form {
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #495057;
    display: block;
    margin-bottom: 0.5rem;
}

.form-input {
    width: 100%;
    padding: 1rem;
    border: 1px solid #28415c;
    border-radius: 8px;
    font-size: 1rem;
    box-sizing: border-box;
    background-color: #f8f9fa; /* Fondo celeste */
}

.form-row {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.form-row .form-group {
    flex: 1;
}

.divider {
    border-top: 1px solid #e0e0e0;
    margin: 1.5rem 0;
}

.proceed-btn {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    padding: 1rem;
    background-color: #257ae9;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    margin-top: 1rem;
}