h1
{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 4rem;
}

#pencil
{
    display: inline-block;
    transform: scaleX(-1);
}

.photo
{
    width: 150px;
    height: 150px;
}

.add
{
    margin: 5%;
}

input
{
    width: 100%;
}