#h1
{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 4rem;
}

.btnGamePage
{
    height: 4rem;
    width: 100%;
    margin: 1%;
    border-radius: 30px;
    border: none;
    color: white;
    font-size: 2rem;
}

#game
{
    background-color: lightblue;
    text-align: center;
}

#detail
{
    background-color: skyblue;
}

#edit
{
    background-color: blue;
}

#delete
{
    background-color: lightcoral;
}

#addGame
{
    width: 100%;
    margin: 2%;
    background-color: deepskyblue;
}