#title {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 4rem;
}

.btnGamePage {
    height: 4rem;
    width: 100%;
    margin: 1%;
    border-radius: 30px;
    border: none;
    color: white;
    font-size: 2rem;
}

.btnGamePage.btn-outline-primary {
    background-color: deepskyblue;
}

.btnGamePage.btn-outline-danger {
    background-color: lightcoral;
}

.btnGamePage.btn-outline-success {
    background-color: seagreen;
}

.btnGamePage.btn-outline-secondary {
    background-color: gray;
}