#form_styles {
  padding: 40px;
  margin: 20px;
}

.div_1 {
  background-color: lightblue;
  padding: 10px 10px 10px 0;
  border-radius: 25px;
  width: 1000px;
}

.div_2 {
  display: inline-block;
  vertical-align: top;
  padding-top: 50px;
}

.logo {
  width: 200px;
  height: 200px;
  border-radius: 200px;
}

.centrar {
  display: flex;
  justify-content: center;
  align-items: center;
}
