.div_1 {
  background-color: gray;
  padding: 10px 10px 10px 0;
  border-radius: 25px;
  width: 1000px;
}

.div_2 {
  display: inline-block;
  vertical-align: top;
  padding-top: 50px;
}

.div_3 {
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.parrafo {
  margin-top: 50px;
}

.logo {
  width: 200px;
  height: 200px;
  border-radius: 200px;
}

.form-control {
  width: 400px;
}

.d-grid {
  padding-top: 10px;
}

.centrar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.color {
  color: white;
}