#title {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 4rem;
}

#btn.addGame {
    background-color: deepskyblue !important;
    color: white !important;
    border: none;
    border-radius: 30px;
    font-size: 2rem;
    height: 4rem;
    width: 100%;
    margin: 2% 0;
    display: block;
    text-align: center;
    line-height: 4rem;
}
